<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add-BluePrint</title>
</head>
<body>
<div class="container">
  <app-cockpit 
      (serverCreated)="onServerAdded($event)" 
      (bpCreated)="onBluePrintAdded($event)" >
  </app-cockpit>
  <hr>
  <div class="row">
    <app-server-element 
        *ngFor="let arrayInput of collect_inputs" 
        [srvElement] = "arrayInput" >
    </app-server-element>
  </div>
</div>
</body>
</html>