<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add-BluePrint</title>
</head>
<body>
<div class="container">  
  <div class="col-xs-12 col-sm-12 col-md-6 mt-4">
    <h2>Add Server</h2>
    <form id="add-form" action="" class="mt-4">
      <div class="add-sever">
        <label for="exampleInputEmail1">Sever Name</label>
        <input type="text" class="form-control" id="" placeholder="Sever Name">
      </div>
      <div class="add-content mt-3">
        <label for="exampleInputEmail1">Sever Content</label>
        <input type="text" class="form-control" id="" placeholder="Sever Content">
      </div>
      <div class="form-btn mt-4">
        <button type="submit" class="btn btn-info me-3">Add Sever</button>
        <button type="submit" class="btn btn-primary">Add Sever BluePrint</button>
      </div>
    </form>
  </div>
</div>  
</body>
</html>