<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add-BluePrint</title>
</head>
<body>
<div class="container">  
  <div class="col-xs-12 col-sm-12 col-md-6 mt-4">
    <h2>Add Server</h2>
      <!-- Inputs -->
      <div class="add-sever">
          <label for="exampleInputEmail1">Sever Name</label>
          <input [(ngModel)]="sever_name" type="text" class="form-control" placeholder={{sn}}>
      </div>
      <div class="add-content mt-3">
          <label for="exampleInputEmail1">Sever Content</label>
          <input [(ngModel)]="sever_content" type="text" class="form-control" placeholder={{sc}}}>
      </div>
      <!-- Error  -->
      <div [style.visibility]="emptyError ? 'visible' : 'hidden'" class="text-danger mt-2">
          <h5><b>{{emptyInputEr}}</b></h5>
      </div>
      <!-- btns -->
      <div class="form-btn mt-3">
          <button (click)="addServer(1)" class="btn btn-info me-3">Add Sever</button>
          <button (click)="addServer(2)" class="btn btn-primary">Add Sever BluePrint</button>
      </div>
      <!-- Print panel -->
      <!-- <div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">Panel Content</div>
      </div> -->


      <div class="text-left mt-3">        
        <div *ngFor="let arrayInputs of collect_inputs" class="panel panel-default"> 
            <!-- <div class="panel-heading">Panel Heading : {{pHeading}}</div>    -->
            <div class="panel-body">Panel Heading : {{arrayInputs}}</div>         
            
            
        </div> 
      </div>

  </div>
</div>  
</body>
</html>